.app-container {
  height: 100%;
  margin: 0 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.right-section {
  //height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.max-h-section {
  max-height: 49svh;
  overflow-y: auto;
}

.bold {
  font-weight: bold;
}
